@media (min-width: 769px){
    .header_control{
        display: none;
    }

    .home_button{
        display: none;
    }
}

@media (max-width: 1300px){
    /* header */
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        background-color: var(--primary-color);
        padding: 0 20px;
        position: relative; 
    }
    
    .logo {
        position: absolute;
        left: 20px;
        flex-shrink: 0;
    }
    
    .header_button {
        display: flex;
        gap: 30px;
    }
    
    button{
        border: none;
        background-color: var(--secondary-color);
        color: white;
        padding: 15px 10px;
        border-radius: 25px;
        font-size: 20px;
    }
    
    button:hover{
        cursor: pointer;
        background-color: var(--secondary-hover);
    }

    /* body */

    /* footer */
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        background-color: var(--primary-color);
        padding: 0 20px;
        position: relative; 
        margin-top: 50px;
    }

    .copyright{
        position: absolute;
        left: 20px;
        flex-shrink: 0;
    }

    .contact_links{
        display: flex;
        gap: 30px;
    }

    .mail, .github, .linkedin{
        padding: 12px 8px;
    }
}

@media (max-width: 768px){
    /* header */
    .header{
        display: none;
    }

    .logo{
        display: none;
    }

    .all_head_butt{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        justify-items: center;
    }

    .all_head_butt .home_button{
        grid-column: 2;
        grid-row: 1;
    }

    .all_head_butt .header_button{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-column: 1/4;
        grid-row: 2;
        justify-items: center;
    }

    button{
        width: fit-content;
        margin: auto;
        height: 50px;
        font-size: 16px;
        text-align: center;
    }

    /* body */

    /* footer */
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        background-color: var(--primary-color);
        padding: 0 20px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px; 
        margin-top: 50px;
    }
    
    .copyright{
        display: none;
    }
    
    .contact_links{
        display: flex;
        gap: 30px;
    }
    
    .mail, .github, .linkedin{
        padding: 12px 8px;
    }
    
}